@model IEnumerable<MusicStoreEntity.Album>
@{
    ViewBag.Title = "游览专辑";
    Layout = "~/Views/Shared/_newLayout.cshtml";
    var album = Model.FirstOrDefault();
    var genreName = album != null ? album.Genre.Name : "找不到";
}
<div>
    <h3>
        <em>
            @genreName
        </em>专辑
    </h3>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <a href="@Url.Action("detail","Store",new { id=item.ID})">
                    <i class=""></i><img alt="@item.Title" src="@item.AlbumArtUrl" /><br />
                    <span>作者：@item.Artist.Name</span><br />
                    <span>发布时间 &nbsp; @item.Title</span>
                </a>
            </li>
        }
    </ul>
</div>
