*{
    margin:0;
    padding:0;
}

.bg{
    width:600px;
    height:600px;
    margin:100px auto;
    background-image:linear-gradient(0deg,#3c1d14,#79392a)
}

h2{
    width:600px;
    padding-top:50px;
    font-size:50px;
    font-family:"微软雅黑";
    text-align:center;
    color:#b67867;
    text-shadow:5px 5px 5px #200a08;
}

p{
    width:600px;
    font-size: 20px;
    font-family:"微软雅黑";
    text-align:center;
    color:#ac7465;
    text-shadow:2px 2px 2px #200a08;
}

.bg1{
    width:400px;
    height:300px;
    margin:0 auto;
    position:absolute;
    left:50%;
    top:55%;
    border-radius: 10px;
    box-shadow:0px 20px 20px #200a08;
    margin-left:-200px;
    margin-top:-150px;
}

span{
    float:left;
    width:300px;
    height:300px;
    border-radius:10px 0 0 10px;
    background:white;
    box-sizing: border-box;
}

.b{
    background-image: url(fc.png);
    background-repeat: no-repeat;
    background-position: center center;
    width:100px;
    height: 300px;
    border-radius: 0 10px 10px 0;
    background-color: #a98659;
}

.cd{
    background:url(cd.png) no-repeat;
    width:248px;
    height:248px;
    position: absolute;
    left:40%;
    top:50%;
    z-index: 99;
    margin-left: -124px;
    margin-top:-125px;
    
    animation:move 20s linear infinite;
    -webkit-animation:move 20s linear infinite;
    -ms-animation:move 20s linear infinite;
    -moz-animation:move 20s linear infinite;
    -o-animation:move 20s linear infinite;
}

.cd_bg{
    width:242px;
    height:242px;
    border-radius: 50%;
    position:absolute;
    left: 40%;
    top:50%;
    z-index:1;
    margin-left:-124px;
    margin-top:-125px;
    box-shadow:15px 15px 20px #333;
}

@keyframes move{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@-webkit-keyframes move{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}