*{
    padding: 0;
    margin: 0;
    list-style:none;
}
.one{
    width: 500px;
    height: 20px;
    position: relative;
    border: 2px solid red;
    margin: 25px auto;
    top: 0;
}

ul li{
    width: 700px;
    height: 20px;
    border: 0px solid ;
    margin: 0 auto;
    top: 0;
}
input{
    border: 2px solid red;
    margin: 25px auto;
    top: 0;
    font-size: 15px;
    color: red;
}
.nan{
    border:2px solid wheat;
    color: #333;
    font-size: 15px;
    font-family: "宋体";
}