@model MusicStore.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "新用户注册";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h2>新用户注册</h2>
@using (Html.BeginForm("register", "account", FormMethod.Post))
{
    //表单内容
}

