/* 全局 */

* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}

body {
    font-size: 12px;
    font-family: "微软雅黑";
}

a {
    text-decoration: none;
    color: #666;
}

em {
    font-style: normal;
}

.tuan {
    width: 300px;
    height: 320px;
    /* 防止内容溢出显示在盒子之外 */
    overflow: hidden;
    margin: 10px auto;
    padding: 10px 12px;
    border: 1px solid #666;
}


/* 第一个大盒子 */

.box01 {
    width: 210px;
    position: relative;
}

.name {
    height: 30px;
}

.pic {
    position: absolute;
    top: -6px;
    left: 62px;
}

ul {
    /* width: 120px; */
    height: 20px;
    /* background: #fff;
    border: 2px solid red;
    float: left;
    margin: 10px; */
    position: absolute;
    right: -70px;
    bottom: 10px;
}

ul li {
    width: 16px;
    height: 16px;
    background: #fff;
    border: 2px solid red;
    float: left;
    margin: 2px;
}

ul li:first-child {
    background-color: yellow
}

ul li a {
    font-size: 12px;
    font-weight: bold;
    display: block;
    text-align: center;
}


/* 第二个大盒子 */

.box02 {
    height: 90px;
    margin-top: 15px;
}

.tit {
    height: 50px;
    line-height: 20px;
    font-size: 14px;
}

.tit a {
    color: #000;
}

.tit a span {
    color: #000000;
    font-weight: bold;
}

.price {
    width: 200px;
    height: 30px;
    float: left;
}

.price span {
    font-size: 24px;
    color: orangered
}


/* 第二个大盒子下面 */

.btn {
    width: 90px;
    height: 35px;
    background: orange;
    border: 1px solid orangered;
    border-radius: 5px;
    float: right;
}

.btn strong {
    font-size: 20px;
    line-height: 35px;
    color: white;
    display: block;
    text-align: center;
}