* {
    margin: 0;
    padding: 0;
}

header>h3 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 25px;
}

header>ul {
    list-style: none;
    width: 750px;
    height: 54px;
    border-top: solid 2px #5E2D00;
    border-bottom: solid 2px #5E2D00;
    text-align: center;
    margin: 0 auto;
}

header li {
    display: inline-block;
    line-height: 54px;
    margin: 0 10px;
}

header a {
    font-size: 18px;
    color: #5E2D00;
    text-decoration: unset;
}

header a:hover {
    text-decoration: underline;
    color: #FF0033;
}


/* 内容 */

section {
    margin: auto;
    width: 800px;
    padding: 15px 0px;
}

p {
    text-align: center;
    font-size: 23px;
    line-height: 40px;
}

span>p:before {
    content: url(Images/11.png)
}

strong {
    color: red;
}

span .effect {
    color: #BDA793;
}

span .effect strong {
    color: #5E2D00;
}


/* 跟随老师修改 */

* {
    /* 删除浏览器默认的样式 */
    list-style: none;
    outline: none;
}

body {
    text-align: center;
}

dl {
    display: none;
    width: 900px;
    margin: auto
}

:target {
    display: block;
}

dl img {
    margin-top: 15px;
}

dl dd {
    line-height: 35px;
    font-size: 22px;
    text-align: left;
    text-indent: 100px;
}

dd:before {
    content: url(Images/11.png)
}

dd:nth-child(odd) {
    color: #bfa893;
}

dd:nth-child(3) strong {
    color: #5E2D00;
}