@model  IEnumerable<MusicStoreEntity.Genre>
   
 @foreach (var i in Model)
 {
    <div class="list-group-item ">
        <h4 class="list-group-item-heading">
            @Html.ActionLink(i.Name, "", "", i.ID);
        </h4>
    </div>
 }
