@model  IEnumerable<MusicStoreEntity.Genre>
        @foreach (var i in Model)
        {

<<<<<<< HEAD
 @foreach (var i in Model)
 {
    <div class="list-group-item ">
        <h4 class="list-group-item-heading glyphicon glyphicon-music">
            @Html.ActionLink(i.Name, "Browser", "Store", new { i.ID }, null)
        </h4>
    </div>
 }
=======
            <div class="list-group-item ">
                <h4 class="list-group-item-heading glyphicon glyphicon-music">
                    @Html.ActionLink(i.Name, "Browser", "Store", new { i.ID }, null)
                </h4>
            </div>
        }
>>>>>>> 13f4e49d415cbd0eb416f1d7f117ba2cb1303c72
