@model MusicStoreEntity.UserAdd
@{
    ViewBag.Title = "MySetup";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h2>收获地址</h2>
   <h3>收件人信息</h3>
<fieldset>
    <legend></legend>
        <div class="editor-field"></div>
       <table>
           <tr>
               <th>收件人姓名</th>
               <th>收件人地址</th>
               <th>收件人电话</th>
               <th>修改头像</th>
           </tr>
       </table>
    
</fieldset>