body{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "微软雅黑"；
}
.bj{
    background: url(sy.jpg) no-repeat;
    width: 949px;
    height: 687px;
    margin: 50px auto;
    position: relative;
    font-weight: bold;
}
form{
    position: absolute;
    left:50%;
    top: 20%;
    font-size: 12px;
}
span{
    width: 80px;
    text-align: right;
    display: inline-block;
    padding-right: 10px;
    margin-left: -200px;
}
input,select{
    margin-top: 10px;
    width: 150px;
    height: 25px;
    border-radius:3px;
    border: 1px solid #d4cdba;
}
select{
    width: 80px;
}

.rad{
    width: 15px;
    height: 15px;
}
.pass{
    width: 200px;
}
.yijian{
    width: 250px;
}
.tj{
    margin-left: -110px;
}
.text{
    border: 1px solid black;
    border-radius:3px;
    margin-top: 10px;
}
