
@{
    ViewBag.Title = "PersonalInformation";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<div class="panel panel-default login" >
    <div class="panel-body">
        个人信息
    </div>
    <div class="panel-footer login-pane">
      
    </div>
</div>