*{
    margin: 0;
    padding: 0;
    list-style: none;
}
/* 轮播图片的样式 */
.slider{
    width: 490px;
    height: 170px;
    position: relative;
    margin: 40px auto;
    border: 1px solid lightgray;
    padding: 5px;
}
img{
    /* 清除照片的缝隙 */
    display: block;
}
.ad{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

.ad ul {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.ad ul li {
    display: inline-block;  /*变成文本块 */ 

}

/* 编号的样式 */
.slider  ol{
    position: absolute;
    left: 50%;
    margin-left: -65px;
    bottom: 10px;

}
.slider  ol li{
    float: left;
    background-color: white;
    width: 20px;
    height: 20px;
    /* 编号间的距离 */
    text-align: center;
    margin-right: 10px;
    line-height: 20px;
    cursor: pointer; /* 变手型*/
}
.slider  ol li.current{
    background-color: orange;
}
