*{
    margin: 0;
    padding: 0px;
    border: 0;
    list-style: none;
}

body{
    font-size: 12px;
    font-family:"微软雅黑";
}

a{
    text-decoration: none;
    color: #666
}

em
{
    font-style: normal;
}

.tuan{
    width:300px;
    height: 320px;
    overflow: hidden;
    margin: 10px auto;
    padding: 10px 12px;
    border: 10px solid #666;
}

.box01{
    width: 210px;
    position: relative;
}

.name{
    height: 30px;
}

.pic{
    position: absolute;
    top: -6px;
    left: 62px;
}

ul{
    width: 120px;
    height: 20px;
    position: absolute;
    right: -70px;
    bottom: 10px;
}

ul li{
    width: 16px;
    height: 16px;
    background: #fff;
    border: 2px solid red;
    float: left;
    margin-right: 10px
}

ul li:first-child {
    background-color: yellow
}

ul li a {
    font-size: 12px;
    font-weight: bold;
    display: block;
    text-align: center;
}