@model IEnumerable<MusicStoreEntity.Genre>

<ul class="nav nav-pills nav-stacked">
    @foreach (var item in Model)
    {
        <li class="active" >@Html.ActionLink(item.Name, "", "", new { id = item.ID })</li>
    }
</ul>