@model MusicStoreEntity.Order
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<fieldset>

    <legend>订单列表</legend>
    <table>
        <tbody>
            <tr>
                <th>订单摘要</th>
                <th>明细</th>
                <th>总价</th>
                <th>状态</th>
            </tr>
        </tbody>

        <tbody>
            <tr >
                <td>

                </td>

                <td>

                </td>
                <td>

                </td>
                <!--<td><a  class="btn btn-success" href="/Pay/AliPay">立即支付</a></td>-->
            </tr>
        </tbody>
    </table>
</fieldset>




