
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AddessUrl/_NewLayout.cshtml";
}
<h2>修改收货地址</h2>
<fieldset>
    <legend>我的收货</legend>
    <div>
        <div class="form-group">
            <label for="name">名称</label>
            <input type="text" class="form-control" id="name"
                   placeholder="请输入名称">
        </div>
        <div class="form-group">
            <label for="inputfile">修改输入</label>
            <input type="file" id="inputfile">
        </div>
    </div>
   

</fieldset>

