*{
    list-style: none;
    margin: 0;
    padding: 0;
}
.dh li{
    float: left;
    margin-left: 20px;
    text-align: center;
    list-style: none;
}
#gn{
    margin-left: 200px;
}
.tssp{
   
}
.tssp li{
    float: left;
   
   
   
}
.tssp img{
    width:200px;
    height: 150px;
    border-radius: 5%;
    margin-left:10px; 
}
#center{
  
}
