/* 选择器，伪类 */
h2{
    font-size: 30px;
    text-align: center;
}

a:hover{
    color: brown;

}
a:link,a:visited{
    color:blue;
    text-decoration: none;
}

:target{
    font-family: 'Times New Roman', Times, serif;
        font-size:35px;
        font-style: italic;
}
p:target .one{
    content: url(02CSS作业/font/服装推广软文.png)
}

p>strong{
    color:#FF0033;
}
