
/*背景*/
body{
    background-color: #FBF9EF;
}
#bg1{
    width: 400px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    background: white;
    margin: 0 auto;
    position: absolute;
    border: 2px solid #c0c0c0;
    top: 15px;
    right:35px;
}
/*唱机*/
#cd_bg{
    width: 240px;
    height: 240px;
    position: absolute;
    left: 30px;
    top: 30px;
    border-radius: 50%;
    box-shadow: 20px 20px 60px black;
}
#cd{
    width: 248px;
    height: 248px;
    position: absolute;
    left: 30px;
    top: 30px;
    background:url(/content/Images/cd.png) no-repeat center center;
    z-index: 999;
    border-radius: 50%; 
    animation: move 15s linear infinite;  
}
#a{
   width: 100px;
   height: 300px;
   position: absolute;
   right: 0;
   top: 0;
   background: url(/content/Images/fc.png) no-repeat center;
   z-index: 999;
}
#b{
    width: 100px;
    height: 300px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgb(169, 134, 89);
}
.pinl{
    width: 800px;
    height: 400px;
    background-color: white;
    padding: 15px;
    margin-bottom: 50px;
    margin-top: 20px;
    border: 2px solid #c0c0c0;
    border-radius: 5px;
    overflow:auto; 
    position: relative;
}
#detail{
    border: 2px solid #c0c0c0;
    padding: 10px;
    border-radius: 5px;
}
#User_name{
    float: left;
}
#div_User{
    width: 100%;
    height: 20px;
}
#div_User2{
    width: 100%;
    padding: 0;
    height: 20px;
}
#div_User2>p{
    line-height: 20px;
    text-align: left;
    margin:0;
    width: 100%;
    height: 20px;
}
#User_pinl{
    margin: 10px 0;
    height: 60px;
    border-bottom: 1px solid #c0c0c0;
}
