*{
    margin: 0;
    padding: 0;
}
@font-face{
    font-family:BOOM;
     src:url(font/BOOMBOX.TTF);
    }

@font-face{
    font-family: ONYX;
     src:url(font/ONYX.TTF);
    }

@font-face{
    font-family: TCM;
     src:url(font/TCCM____.TTF);
    }

@font-face{
    font-family: ROCK;
     src:url(font/ROCK.TTF);
    }

@font-face{
    font-family: LTCH;
     src:url(font/LTCH.TTF);
    }

@font-face{
    font-family: jianzhi;
     src:url(font/FZJZJW.TTF);
    }
h2 .a{
    font-family: BOOM;
    font-size: 60px;
}
h2 .b{
    
}

.Titleone .a{
    font-family: ONYX;
    color;
    font-size: 48px;
}

.Titleone .b{
    font-family: TCM;
    color:
}