
@*@model IEunmerable<MusicStoreEntity.UserAndRole.PersonAddress>*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h2>修改个人信息</h2>
@using (Html.BeginForm("Index", "Account", FormMethod.Post))
{
    <fieldset>
        <legend> 收件人姓名</legend>
        @Html.EditorForModel()
        <p>
            <button type="submit" class="btn btn-success">
                <i class="glyphicon glyphicon-shopping-cart">添加</i>
                <tton>
            </button>
        </p>
    </fieldset>
}
