
@using MusicStoreEntity;
@using MusicStore.ViewModels;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h2>修改个人信息</h2>
@using (Html.BeginForm("Index", "Account", FormMethod.Post))
{
    <div>
        <fieldset>
            <legend> 收件人姓名</legend>
           <div class="editor-label">
              
           </div>

        </fieldset>
    </div>
}
