body,ul,li,img{
    margin: 0;
    padding: 0;
    list-style: none;
}

.all{
    width: 520px;
    height: 280px;
    padding: 5px;
    position: relative;
    border: 1px solid #ccc;
    margin: 100px auto 0;
    overflow: hidden;
}

.all img{
    width: 520px;
}

.ad{
    width: 520px;
    height: 280px;
    overflow: hidden;
    position: relative;
}

.ad ul{
    position: absolute;
    top:0;
    width:3120px;
}

.ad ul li{
    float: left;
}

#arrow{
    display: none;
}

#arrow span{
    width:50px;
    height: 50px;
    position:absolute;
    left: 5px;
    top:50%;
    margin-top: -20px;
    background: #000;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    opacity: 0.3;
    color:white;
    border: 1px solid white;
}

#arrow #right{
    right: 5px;
    left: auto;
}