
@{
    ViewBag.Title = "TestHack";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h2>Hacker</h2>
<form name="badForm" method="post" action="http://10.88.91.101:9000/account/login">
    <input type="text" name="UserName" id="UserName" value="admin"/>
    <input type="text" name="PassWord" id="PassWord" value="123456"/>
    <input type="submit" value="暴破"/>
</form>


