*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 12px;
}

form{
    width: 320px;
    height: 150px;
    margin: 50px auto;
    padding-top: 20px;
    background: #dce2f1;
    border-radius: 20px;
    border: 2px solid blue;
}

p{
    margin-top: 15px;
    text-align: center;
}

p span{
width: 40px;
display: inline-block;
text-align: right;
}

.uname{
    background: url(images/1.jpg) no-repeat 5px center #fff;
}
.pword{
    background: url(images/2.jpg) no-repeat 5px center #fff;
}

.uname,.pword{
    width: 150px;
    height: 20px;
    border: 1px solid #5f92c5;
    padding: 2px 2px 2px 22px
}
.btnLogin,.btnReg{
    width: 70px;
    height: 25px;
    border-radius: 2px;
    border: 1px solid brown;
    margin-left: 30px;
}

.btnLogin{
    background: #5f92c5;
}
.btnReg{
    background: #fc8717;
}