*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.box{
    height: 200px;
    width: 500px;
    position: relative;
    left: 200px;
    overflow: hidden; 
}

.box .one{
    height: 200px;
    width: 1000%;
    position: relative;
    

}
.one ul li{
    float: left;
}
.two ul{
    position: absolute;
}
.two ul li{
    width: 30px;
    height: 30px;
  
    border: 5 solid salmon;
    background: silver;

}
