body {
    font-family: "微软雅黑";
    padding-top: 0px;
}

.navbar-header img {
    position: relative;
    top: -8px;
}

.img-width {
    width: 100%;
}

.footer {
    width: 100%;
    background-color: #F2F2F2;
    padding: 12px 0px;
    border-top: 1px solid #D3D3D3;
    margin-top: 50px;
    position: relative;
    top: 20px;
}

    .footer img {
        width: 200px;
        height: 35px;
    }

.badge {
    color: yellow;
    background-color: red;
}

.mobilenumber {
    font-size: 10px;
    color: #9b9b9b;
}

.address {
    font-size: 13px;
}

.imgAvarda {
    height:100px;
}

.headAvarda {
    height:25px;
    width:25px;
    border-radius:50%;
}

.pl {
    font-size:18px;
    margin-right:20px;
}

.pl-hd {
    border-bottom:2px solid red;
    margin:50px 0px 20px;
}

.pl-Avarda {
    height:60px;
    width:60px;
}

.plText {
    position:relative;
}

.MyAvarda {
    position:absolute;
}

textarea {
     resize:none;
     font-size:12px;
     width:92%;
     height:60px;
     margin-left:70px;
     margin-bottom:5px;
}

.jcpl-hr {
    border:0.5px solid #cdcdcd;
    margin-top:0px;
}

.pl-user {
     margin-left:70px;
     margin-bottom:5px;
     width:92%;
     height:60px;
     font-size:12px;
}

.user-ment {
    margin-top:10px;
}

.pl-list {
    border-bottom:1px dashed #cdcdcd;
}

.time {
    font-size:12px;
    margin-left:20px;
}