body {
    font-family: "微软雅黑";
    padding-top: 0px;
}

.navbar-header img {
    position: relative;
    top: -8px;
}

.footer {
    background-color: #F2F2F2;
    height:60px;
    line-height:60px;
    border-top:1px solid #D3D3D3;
}

.footer img {
    width: 200px;
    height: 35px;
}
