/*全局*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
}
body{
    font-family: "幼圆";
    font-size: 12px;
    background: white;
}
a:link,a:visited{
    text-decoration: none;
    color:#333
}/*连接*/
a:hover{
    text-decoration: none;
}/*点连接的时候*/
/*全局*/

/*Header设置*/
header{
    width:100%;
    background:#eee
}
header ul{
    width: 1280px;
    overflow: hidden;
    margin: 0 auto;
    background-size: 25px;
    box-sizing: border-box;
    background: url(images/logo.png) no-repeat left center;
    background-size: 25px;
    box-sizing: border-box;
}
header li{
    height: 35px;
    float: left;
    line-height: 35px;
    text-align:center;
    padding: 0 25px;
}
/*Header设置*/