*{
    margin: 0;
    padding: 0;
}
div{
    width: 700px;
    height: 350px;
    margin: 100px 120px  auto;
    background: url(1.jpg)no-repeat center center;
}
h2{
    font-size: 24px;
    padding-top: 50px;
    color: rgb(236, 225, 215);
    font-family: "幼体";
    text-align: center;
}
p{
    font-size: 14px;
    margin:50px 60px auto;
    color: rgb(236, 225, 215);
    font-family: "微软雅黑";
    text-align: center;
}
h1{
    font-size:90px;
    margin:40px 60px auto;
    font-family: "华文行楷";
    color: aliceblue;
    text-align: center;
}
img{
    margin:0px 120px auto;
}
