/* 全局配置 */

body,
ul,
li,
p,
h1,
h2,
h3,
img {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}

body {
    font-family: "微软雅黑";
}

a:link,
a:visited {
    text-decoration: none;
}

/* 全局配置结束 */

/* 背景图片的统一样式 */

img.bg {
    width: 100%;
    height: auto;
    min-width: 1024px;
    position: fixed;
    z-index: 1;
}

/* 背景图片的统一样式结束 */

/* 整体控制每个天气图标的样式 */

.slider {
    position: absolute;
    bottom: 100px;
    width: 100%;
    text-align: center;
    z-index: 9999;
    /* 让它在最最最下层 */
}

.slider li {
    /* 行内块元素 */
    display: inline-block;
    width: 170px;
    height: 130px;
    margin-right: 15px;
}

.slider a {
    width: 170px;
    font-size: 22px;
    color: #fff;
    display: inline-block;
    padding-top: 70px;
    padding-bottom: 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    position: relative;
    /* 鼠标变手手 */
    cursor: pointer;
    /* 阴影效果  */
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.8), -2px -2px 2px rgba(0, 0, 0, 0.3), -3px -3px 3px rgba(0, 0, 0, 0.3);
}

/* 天气图标 */

.slider li:nth-child(1) a {
    background-color: #9d907f;
}

.slider li:nth-child(2) a {
    background-color: #19425e;
}

.slider li:nth-child(3) a {
    background-color: #57a180;
}

.slider li:nth-child(4) a {
    background-color: #a2c64a;
}

.slider li:nth-child(5) a {
    background-color: #fec104;
}

.slider a::after {
    content: "";
    display: block;
    width: 120px;
    height: 120px;
    border: 5px solid white;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: -80px;
    z-index: 9999;
    margin-left: -62px;
}

.slider li:nth-of-type(1) a::after {
    background: url(images/sbg1.jpg) no-repeat center;
}

.slider li:nth-of-type(2) a::after {
    background: url(images/sbg2.jpg) no-repeat center;
}

.slider li:nth-of-type(3) a::after {
    background: url(images/sbg3.jpg) no-repeat center;
}

.slider li:nth-of-type(4) a::after {
    background: url(images/sbg4.jpg) no-repeat center;
}

.slider li:nth-of-type(5) a::after {
    background: url(images/sbg5.jpg) no-repeat center;
}

/* 天气图标结束 */

/* 整体控制每个天气图标的样式结束  */