*{
    
    font-size: 14px;
    font-family: 微软雅黑;
}
div{
    width: 949px;
    height: 687px;
    background: url(../img/sy.png) no-repeat;
    margin: auto;
    position: relative;
}
form{
    position: absolute;
    width: 560px;
    margin: auto; 
    left: 220px;
    top: 120px;
    margin-top: 20px;
}
h2{
    text-align: center;
    font-size: 23px;
}
p span{
    width: 105px;
    display: inline-block;
    text-align:right;
    margin-left: 10px;
}
p input{
    border: 1px solid #d4cdba;
    padding-right: 2px;
    width: 150px;
    height: 25px;
    border-radius: 5px;
}
.radio{
    width: 12px;
    height: 12px;
}
.pwd{
    width: 250px;
}
.adress{
    width: 50px;
    height: 20px;
}
.yj{
    resize: none;
    vertical-align: middle;
    height: 80px;
    width: 300px;
}
.btn{
   margin-left: 50px;
   background: rgb(217, 226, 235);
   border:1px solid rgb(217, 226, 235);
   border-radius: 5px;
}
span:nth-last-child(1){
 height: 50px;
 line-height: 50px;
}