@font-face{
    font-family:BOOM;
    src:url(font/BOOMBOX.TTF)
}
@font-face{
    font-family:FZJZ; 
    src:url(font/FZJZJW.TTF);
}
@font-face{
    font-family:LTCH;
    src:url(font/LTCH.TTF);
}
@font-face{
    font-family:ONYX;
    src:url(font/ONYX.TTF)
}
@font-face{
    font-family:ROCK; 
    src:url(font/ROCK.TTF);
 }
@font-face{
    font-family:TCCM; 
    src:url(font/TCCM____.TTF)
}
h2 .a{
    font-family:BOOM;
    font-size:60px;
}
h2 .b{
      font-family: LTCH;
      font-size: 50px;
      color: #e1005a;
}
.TitleOne .a{
    font-family: ONYX;
    color: black;
    font-size: 48px;
}
.TitleOne .b{
    font-family: TCM;
    color: #4c9372;
    font-size: 58px;
}
.k .a{
    font-family: ROCK;
    font-size: 24px;
    font-weight: bold;
    font-style: oblique;
    color: #333;
}
.k .b{
    font-family: ROCK;
    font-size: 36px;
    font-weight: bold;
    color: #333;
}
.on .a{
    font-family: "微软雅黑";
    font-size: 36px;
}
.on .b{
    color: #e1005a;
}
.CO{
    width: 500px;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #747474;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}