*{
    margin: 0;
    padding: 0;
}

.bg{
    width: 1024px;
    height: 760px;
    background-image: linear-gradient(to bottom,#703D33,#3D1D14);
    margin: 50px auto;
}

h2{
    padding-top: 50px;
    font-size: 75px;
    color: #BE7E6C;
    text-align: center;
    text-shadow: 3px 4px 5px #000;
   
}
p{
    font-size:14px;
    color: #BE7E6C;
    text-align: center;
    text-shadow: 3px 4px 5px #000;
}

.bg1
{
    width: 600px;
    height: 500px; 
    position: relative;
     background-color: #fff;
     margin: 20px auto;
     box-shadow: 0 10px 15px;
     border-radius: 10px;
   
}
.bg1 .a
{
    height:500px;
    width: 400px;
    position: absolute;
    background: url(images/cd.png) no-repeat center center;
    animation: move 3s linear infinite;
    -webkit-animation: move 3s 1s linear infinite;
     -ms-animation: move 3s 1s linear infinite;
    -moz-animation: move 3s 1s linear infinite;
    -o-animation: move 3s 1s linear infinite;
    animation-play-state: paused;
}
@keyframes move
{
   0%{
       transform: rotate(0deg);
   }
   100%
   {
       transform: rotate(360deg);
   }
}
@-webkit-keyframes move
{
   0%{
       transform: rotate(0deg);
   }
   100%
   {
       transform: rotate(360deg);
   }
}
@-ms-keyframes move
{
   0%{
       transform: rotate(0deg);
   }
   100%
   {
       transform: rotate(360deg);
   }
}
@-moz-keyframes move
{
   0%{
       transform: rotate(0deg);
   }
   100%
   {
       transform: rotate(360deg);
   }
}
@-o-keyframes move
{
   0%{
       transform: rotate(0deg);
   }
   100%
   {
       transform: rotate(360deg);
   }
}

.bg1 .cd
{
    position: absolute;
    height: 500px;
    width: 200px;   
   
    background-color: #A98659;
   border-radius: 0 10px 10px 0px;
    right: 0;
   
}

.cd_bg
{
    position: absolute;
    height: 180px;
    width: 60px;   
    background: url(images/fc.png) no-repeat center center;
    right: 0;
    padding: 170px 60px;
    animation: moveimg1 1s linear forwards;
    animation-play-state: paused;
}
.b
{
    position: absolute;
    height:235px;
    width:243px;
    border-radius: 50%;
    margin:126px 0 0 76px;
    box-sizing: border-box;
    box-shadow: 8px 9px 20px #000;
}
a{
    text-decoration: none;
   position: absolute;
     width: 75px;
     height: 30px;
     background-color: #f42;
     color: #fff;
     line-height: 30px;
     text-align: center;
     border-radius: 10px;
     box-shadow: 2px 2px 2px #000;
     bottom: 10%;
}
.play
{
   left:20%;
}
.pause
{
   left: 35%;
}
/* 开始播放 */
#play:target
{
   animation-play-state: running;
}
@keyframes moveimg1
{
   0%{
      transform: rotate(0) scale(1);
     
   }
   100%{
    right: 100px;
    transform: rotate(90deg) scale(2) ;
}
}



