*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}
body{
    font-size: 12px;
    font-family: "微软雅黑";
}
a{
    text-decoration: none;
    color: #666;
}
em{
    font-style: normal;
    font-weight: bold;
}
.tuan{
    width: 300px;
    height: 320px;
    overflow: hidden;
    margin: 10px auto;
    padding: 10px 12px;
    border: 1px solid #666;
}
.box01{
    width: 210px;
    position: relative;
}
.name{
    height: 30px;

}
.pic{
    position: absolute;
    top:-6px;
    left: 62px;

}
ul{
     width: 120px;
     height: 20px;
     position: absolute;
     right: -85px;
     bottom: 10px;
}
ul li{
    width: 16px;
    height: 16px;
    background: #fff;
    border: 2px solid red;
    float: left;
    margin-right: 10px;
}
ul li:first-child{
    background: yellow;
}
ul li a{
     font-size: 12px;
     font-weight: bold;
     display: block;
     text-align: center;
}
.box02{
    height: 90px;
    margin-top: 15px;
}
.tit{
    height: 50px;
    line-height: 20px;
    font-size: 14px;
}
.tit a{
    color: #000;;
}
.tit a span{
    color: #000000;
    font-weight: bold;
}
.price{
    width: 200px;
    height: 30px;
    float: left;
    font-size: 14px;
}
.price span{
    font-size: 24px;
    color: orangered;
}
.btn{
    border: 1px solid orangered;
    border-radius: 5Ppx;
    background-color:orange;
    width: 90px;
height: 35px;
float: left;
}
.btn strong{
    font-size: 18px;
    line-height: 35px;
    color: white;
    text-align: center;
    display: block;
}
