
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h2>我的信息</h2>
@using (Html.BeginForm())
{
    <fieldset>
        @Html.EditorForModel()
        <legend>：</legend>
        <table>
            <tr>
                <th>收件人</th>
                <th>收件人地址</th>
                <th>收件人电话</th>
                <th>修改头像</th>
            </tr>
            </table>
</fieldset>
