.bg{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-image: linear-gradient(#ffffff 50%,#504d59 80%);
    background: black;  
    border-radius: 50%;
    padding: 50px 0 0 30px;
    padding-top: 20px; /*上边距*/
    box-sizing: border-box;  /*锁定盒子的大小*/
}
li:before{
    content:url(images/yinfu.png);
}
   .top{
    padding: 20px 10px 10px 15px;
    background: white;
    padding-top: 25px;
    margin: 0 auto;
    box-sizing: border-box;
} 