
@{
    ViewBag.Title = "TestHack";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h2>TestHack</h2>
<form name="badForm" method="post" action="http://10.88.91.101:9000/account/login">
    <input type="text" name="UserName" id="UserName" value="1220" />
    <input type="text" name="PassWord" id="PassWord" value="313926" />
    <input type="submit" value="爆破你的网站" />
</form>