/* 选择器，伪类 */

.headline {
    text-align: center;
}

.one a {
    text-align: center;
    margin-left: 20px;
    color: #5E2D00;
    text-decoration: none;
    font-size: 20px;
    line-height: 50px;
}

.one {
    text-align: center;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #5E2D00;
}

.one a:hover {
    color: #FF0033;
}

.picture img {}