@model MusicStoreEntity.Order
@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h2>确认购买</h2>
@using (Html.BeginForm())
{
    <fieldset>
        <legend>收件信息</legend>
    </fieldset>
}

