a:link,a:visited{
    color:rgb(94,45,0);
    text-decoration: none;
}

a:hover{
    color:pink;
    font-weight: bolder;
}

a:active{
    color: darkred;
    font-weight: bolder;
}
hr{
    color: rgb(94,45,0);
}
/* 
p::after{
    content: url(Images/1.jpg);
    align-content: center;
}
*/
p strong{
    color:red;
}