@model IEnumerable <MusicStoreEntity.Genre>

<ul class="body-ul">
    @foreach (var item in Model)
    {
       
    <li>
        <i class="glyphicon glyphicon-music"></i>
        <a>@Html.ActionLink(item.Name, "", "", new { id = item.ID }, null)</a>
    </li>
    }
</ul>