*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 20px;
}
img{
    position: fixed;
    z-index: 90;
}

.slider{
    position: absolute;
    left: 20%;
    bottom: 250px;
}
ul{
    margin-left: -55px;
}
a{
    width: 150px;
    height: 100px;
    display:inline-block; 
    color: white;
    text-decoration:none;
    margin-bottom: -200px;
    border: 1px solid white;
    border-radius: 5px;
    margin-left: -30px;
    cursor: pointer;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.8),
    -2px -2px 2px rgba(0, 0, 0, 0.3),
    -3px -3px 3px rgba(0, 0, 0, 0.3);
    z-index: 999;
}
 li{
    float: left;
    color: white;
    margin-right: 70px;
    text-align: center;
   
}
.slider li:nth-child(1) a{
    background-color: #9d907f;
    animation: move 2s;
}
.slider li:nth-child(2) a{
    background-color: #19425e;
}
.slider li:nth-child(3) a{
    background-color: #57a188;
}
.slider li:nth-child(4) a{
    background-color: #a2c64a;
}
.slider li:nth-child(5) a{
    background-color: #fec104;
}
.slider a::before{
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    border: 3px solid white;
    border-radius: 50%;
    margin-top: -70px;
    margin-left: 25px;
    z-index: 9999;
    
}
.slider li:nth-last-of-type(1) a::before{
    background: url(images/sbg1.jpg) no-repeat center center;
}
.slider li:nth-last-of-type(2) a::before{
    background: url(images/sbg2.jpg) no-repeat center center;
}
.slider li:nth-last-of-type(3) a::before{
    background: url(images/sbg3.jpg) no-repeat center center;
}
.slider li:nth-last-of-type(4) a::before{
    background: url(images/sbg4.jpg) no-repeat center center;
}
.slider li:nth-last-of-type(5) a::before{
    background: url(images/sbg5.jpg) no-repeat center center;
}
#ba1:target{
    animation: move 2s;
    z-index:999 ;
}
@keyframes move {
    0%{
        left: -1280px;
    }
    100%{
        left: 0;
    }
}