* {
    text-align: center;
}

hr {
    width: 60%;
    height: 2px;
    background-color:rgb(94,45,0);
}

a {
    color: rgb(94,45,0);
    text-decoration: none;
    font-size: 18px;
    margin: 0px 30px;
}

a:hover {
    color: rgb(255,0,51);
    text-decoration: underline;
}

p:nth-child(odd) {
    color:rgb(51,51,51);
}

p:nth-child(even) {
    color:rgb(203,167,147);
}

#one>strong {
    color: rgb(255,0,51);
}

#two>strong {
    color: rgb(94,45,0);
}