@model IEnumerable<MusicStoreEntity.Album>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/View.cshtml";
}
@foreach (var item in Model)
{
    <div class="col-lg-3 col-sm-6">
        <a href="@Url.Action("detail","store",new {id=item.ID})"></a>
        <img src=""/>
        <h3>
            @item.Title
        </h3>
        <small>@item.Artist.Name</small>
    </div>
}
