/* 全局 */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
}
.header {
    height: 29px;
    background-color: #f1f1f1;
}
body {
    font-family: "微软雅黑";
    font-size: 15px;
    background: white;
}
#nh{
   right: 1024px;
   position: absolute;
}
#w{
    right: 700px;
    position: absolute ;
}
#g{
    right: 630px;
    position: absolute ;
}
#s{
    right: 560px;
    position: absolute ;
}
#m{
    right: 490px;
    position: absolute ;
}
#l{
    right: 420px;
    position: absolute ;
}
.search button{
    position:absolute;
    right: 500px;
    width: 80px;
    height: 36px;
    top:130px;
    background-color: #B61D1D;
    color: #fff;
    cursor: pointer; /* 鼠标变成小手*/
    font: 16px/36px "microsoft yahei";
}

.aa{
    width:500px ;
    height: 30px;
    position: relative;
    right: -30px;
    top:-90px;
    border: 2px solid red;
   
}
.bb{
    width:90px ;
    height: 30px;
    position: relative;
    right: -30px;
    top:-90px;
}
.cc{
    width:90px ;
    height: 30px;
    position: relative;
    right: -36px;
    top:-90px;
}
.dd{
    width:90px ;
    height: 30px;
    position: relative;
    right: -41px;
    top:-90px;
}
 /*没点或点过了*/
 a:link,a:visited{
    background-color: #f1f1f1;
    text-decoration: none;
    right: 750px;
    top:;
    position: relative;

}

a:hover{
    color: red;
    font-weight: bolder;
}

a:active{
    color: darkred;
    font-weight: bolder;
}


.search s{
    position:absolute;
    background-color: #B61D1D;
    color: #fff;
    cursor: pointer; /* 鼠标变成小手*/
    font: 16px/36px "microsoft yahei";
}