/* 全局 */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
}
.header {
    height: 29px;
    background-color: #f1f1f1;
}
body {
    font-family: "微软雅黑";
    font-size: 15px;
    background: white;
}
#nh{
   right: 1024px;
   position: absolute;
}
#w{
    right: 700px;
    position: absolute ;
}
#g{
    right: 630px;
    position: absolute ;
}
#s{
    right: 560px;
    position: absolute ;
}
#m{
    right: 490px;
    position: absolute ;
}
#l{
    right: 420px;
    position: absolute ;
}