/*全局*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
}


body{
    font-family: "微软雅黑";
    font-size: 12px;
    background: white;
}

a:link,a:visited{
    text-decoration: none;
    color: #333
}

a:hover{
    text-decoration: none;
}
/*全局设置结束*/

/*Header设置*/

header{
    width: 100%;
    background: #eee;
}

header ul{
    width: 1280px;
    overflow: hidden;
    margin: 0 auto;
    background: url(images/logo.png) no-repeat left center;
    background-size: 25px;
    padding-left: 30px;
    box-sizing: border-box;
}

header li{
    height: 30px;
    float: left;
    line-height: 35px;
    text-align: center;
    padding:0  25px;

}
/*Header设置结束*/