*{
    padding:0;
    margin:0;
}
.box {
    width: 600px;
    height: 200px;
    margin: 100px auto;/*div居中*/
    overflow: hidden;/*超出隐藏*/
    position: relative;
}

.box ul li {
    float: left;
}

.box ul
{
    width: 400%;
    position: absolute;
    left: 0;
    top:0;
    list-style: none;
}
img {
vertical-align:top;
}
