@model IEnumerable<MusicStoreEntity.Album>
@{
    ViewBag.Title = "首页";

}

<div>
    <img class="img-width" src="~/Content/Images/home-showcase.png" />
</div>
<h4>新品上架<span class="badge">New</span></h4>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-2 col-sm-6 text-center">
            <a href="#">
                <img src="@item.AlbumArtUrl" alt="图片加载失败" />
                <span>@item.Title</span>
            </a>
        </div>
    }
</div>