.box{
    position: relative;
    width: 360px;
    height: 198px;
    border: 1px solid #Eee;
    margin: 0 auto;
    background: url(images/bg.png) no-repeat;
}
img{
   position: absolute;
    left: 50px;
    top: 50px;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
}