
@{
    ViewBag.Title = "TestHack";
    Layout = "~/Views/Shared/New_ViewStart.cshtml";
}

<h2>Hacker</h2>

<form name="badForm" method="post" action="http://10.88.91.101:9000/account/login">
    <input type="text" name="UserName" id="UserName" value="adimn" />
</form>

