
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h2>
    <i class="glyphicon glyphicon-shopping-cart"></i>
    <em>浏览</em>您的购物车
</h2>
<p class="button">
    <a href="#">马上购买</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>专辑名称</th>
            <th>单价</th>
            <th>数量</th>
            <th>操作</th>
        </tr>
    </thead>

    <tbody>
        <tr class="active">
            <td> </td>
            <td> </td>
            <td>总价： </td>
            <td> </td>
        </tr>
    </tbody>
</table>




