*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.box{
    width: 500px;
    height: 200px;
    position: relative;
    margin: 100px auto;
    padding: 5px;
    border: 1px solid lightblue;
}

.ad{
    width: 500px;
    height: 200px;
    position: relative;
    overflow: hidden;    
}

img{
    display: block;
}

.ad ul li{
  float: left;
}

.ad ul{
    width: 2500px;
    height: 200px;
    position: absolute;
}

/* 数字编号样式  */
.box ol{
    position: absolute;
    left: 50%;
    margin-left: -60px;
    bottom: 20px;
}

.box ol li {
    float: left;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-right: 10px;
    line-height: 20px;
    background-color: bisque;
    cursor: pointer;
}

.box ol li.on{
    background-color: lightpink;
}