/*全局变量，重置浏览器*/
*{
    margin:0%;
    padding: 0;
    list-style: none;/*list-style列表中的列表项目标记,*/
}
.op{
    width: 460px;
    height: 480px;
    top: 0; left: 0; bottom: 0; right: 0; /*div居中*/  
    margin:  80px auto;  
    position: absolute;  
    background-image: linear-gradient(3deg,#ca8f7f,rgb(32, 26, 26))/*渐变*/

}

.op p{
    color:#B17667;
    text-align: center;
    position: absolute;
    right: 60px;
    top:30px;
    font-size:60px;
    letter-spacing:3px;/*字体间距*/
    line-height:100px;/*字符上下间距*/
    font-family: "微软雅黑";
    text-shadow: 5px 5px 5px #200a08;/*字体阴影*/
}
.op h2{
    color:#B17667;
    position: absolute;
    left:150px;
    top:110px;
    font-size: 20px;
    font-family: "微软雅黑";
    text-shadow: 5px 5px 5px #200a08;/*字体阴影*/

}
.yy{
    width: 252px;
    height: 250px;
    background-color: aliceblue;
    top: 0; left: 0; bottom: 0; right: 0; /*div居中*/ 
    margin: auto;  
    position: relative; 
    top:24px;
    box-shadow: 0px 20px 20px #200a08;/*盒子的阴影*/
    border-radius: 10px 0 0 10px;

}
.nn{
    width: 250px;
    height: 250px;
    top: 0; left: 0; bottom: 0; right: 0; /*div居中*/  
    margin: auto;  
    position: relative;
    top:0px;
    background: url(images/cd.png) no-repeat center center;

}
.n{
   width: 80px;
   height: 252px;
   background-color: coral;
   margin: auto;  
   position: absolute; 
   right: -75px;
   border-radius: 0 10px 10px 0;
   box-shadow: 0px 20px 20px #200a08;/*盒子的阴影*/

}

.right{
    width: 80px;
    height: 252px;
    margin: auto;  
    position: absolute; 
    right: 3px;
    background: url(images/fc.png) no-repeat center center;
}
/*图片旋转*/
*{
    margin: 0; 
    padding: 0;
}

.nn {
    text-align: center;
    margin-top: 100px;
}

@-webkit-keyframes rotation{
from {-webkit-transform: rotate(0deg);
}
to {-webkit-transform: rotate(360deg);
}
}

.nn {
    -webkit-transform: rotate(360deg);
    animation: rotation 3s linear infinite;
    -moz-animation: rotation 3s linear infinite;
    -webkit-animation: rotation 3s linear infinite;
    -o-animation: rotation 3s linear infinite;
}




