* {
    padding: 0;
    margin: 0;
}

.box {
    margin: 100px auto;
    width: 600px;
    height: 200px;
    background: white;
    position: relative;
    overflow: hidden;
}

.box ul {
    width: 400%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.box ul li {
    float: left;
}

img {
    vertical-align: top;
}