* {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    width: 550px;
    height: 300px;
    z-index: -1;
    position: absolute;
}

.box {
    width: 550px;
    height: 300px;
    margin: 100px auto;
    position: relative;
}

.list_img li {
    display: none;
}

.list_img .current {
    display: block;
}

.list_No {
    width: 200px;
    height: 50px;
    position: absolute;
    right: 5px;
    bottom: 10px;
}

.list_No li {
    float: left;
    padding: 2px 5px;
    background-color: #fff;
    margin:0px 5px;
    border-radius: 50%;
    cursor: pointer;
}

.list_No .current {
    background-color: orange;
    color: white;
}