* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#container {
    width: 450px;
    height: 180px;
    border: 1px solid rgb(94, 92, 92);
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

#list {
    width: 3600px;
    height: 300px;
    position: absolute;
    z-index: 1;
}

#list img {
    float: left;
}

#buttons {
    position: absolute;
    height: 10px;
    width: 100px;
    z-index: 2;
    bottom: 20px;
    left: 200px;
}

#buttons span {
    cursor: pointer;
    float: left;
    border: 1px solid #fff;
    width: 10px;
    height: 10px;
    font-size: 10px;
    text-align: center;
    color: #fff;
    background: rgb(206, 162, 179);
    margin-right: 5px;
}

#buttons .on {
    background: orange;
}

.arrow {
    cursor: pointer;
    display: none;
    line-height: 30px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    width: 20px;
    height: 30px;
    border-radius: 30%;
    position: absolute;
    z-index: 2;
    top: 180px;
    background-color: RGBA(0, 0, 0, .5);
    color: white;
}

.arrow:hover {
    background-color: RGBA(0, 0, 0, .7);
}

#container:hover .arrow {
    display: block;
}

#prev {
    top: 80px;
    left: 1px;
}

#next {
    top: 80px;
    right: 1px;
}