* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
img {
    display: block;
    /*清除照片的像素缝隙*/
}

#container {
    width: 480px;
    height: 192px;
    border: 1px solid rgb(94, 92, 92);
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

#list {
    width: 2400px;
    height: 960px;
    position: absolute;
    overflow: hidden;
    
}

#list img {
    float: left;
}

#buttons {
    position: absolute;
    height: 10px;
    width: 100px;
    bottom: 20px;
    left: 200px;
}

#buttons span {
    cursor: pointer;
    float: left;
    border: 1px solid #fff;
    width: 10px;
    height: 10px;
    font-size: 5px;
    text-align: center;
    position: relative;
    color: #fff;
    background: rgb(206, 162, 179);
    margin-right: 5px;
}

#buttons .on {
    background: orange;
}

.arrow {
    cursor: pointer;
    display: none;
    line-height: 30px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    width: 20px;
    height: 30px;
    border-radius: 30%;
    position: absolute;
    top: 180px;
    background-color: RGBA(0, 0, 0, .5);
    color: white;
}

.arrow:hover {
    background-color: RGBA(0, 0, 0, .7);
}

#container:hover .arrow {
    display: block;
}

#prev {
    top: 80px;
    left: 1px;
}

#next {
    top: 80px;
    right: 1px;
}