*{
    margin: 0;
    padding: 0;
    list-style:none;
}
.one{
    width: 70%;
    height: 100%;
    margin: 0 auto;
}
.ul1{
    width: 100%;
    height: 35px;
    background-color: #eee;
}
.ul1 li{
    float:left;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 5px;
}
.logo img{
    width: 30px;
    height: 30px;
}
h3{
    margin-bottom: 20px;
}
.bg{
    background-position: center center;
   background-color: black;
}
video{
    width: 70%;
    margin-left: 15%;
}
h5{
    margin: 10px 0; 
}
.ul2 .pg2{
    width: 200px;
    height: 150px;
    float: left;
    border-radius: 10px;
    border: 1px solid black;
    background: url(images/pg2.jpg) no-repeat;
    margin-right: 15px;
}
.ul2  .pg1{
    width: 200px;
    height: 150px;
    float: left;
    border-radius: 10px;
    border: 1px solid black;
    background: url(images/pg1.jpg);
    background-repeat: repeat;
    margin-right: 15px;
}
