*{
    margin: 0;
    padding: 0;
}

ul,ol{
    list-style: none;
}

img{
    display: block;
    /* 清除照片的3px缝隙 */
}

.slider{
    width: 500px;
    height: 200px;
    border: 1px solid #ccc;
    margin: 30px auto;
    position: relative;
    padding: 5px;
}

.ad{
    width: 100%;
    height: 100%;
    background: pink;
    position: relative;
    overflow: hidden;
}

.ad ul{
    width: 1000%;
    position: absolute;
    left: 0;
    top: 0;
}

.ad ul li{
    float: left;
}

/*编号的样式*/
.slider ol{
    position: absolute;
    right: 65px;
    margin-right: -65px;
    bottom: 10px;
}

.slider ol li{
    background-color: white;
    float: left;
    width: 20px;
    height: 20px;
    /*编号的间距*/
    margin-right: 10px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

.slider ol li.current{
    background-color: orange;
}