*{
    /* 删除浏览器默认的样式 */
    list-style: none;
    outline: none;
}
body
{
    font-family: "微软雅黑";
    text-align:center;
}
hr{
    width: 800px;
    color: #5e2d00;
    height: 3px;
    background:   #5e2d00;   
}
a{
    color:#5e2d00;
    font-size: 22px;
    text-indent: 1em;
    display: inline-block;
}
a:link,a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;

    color: red;
}
a:nth-child(1){
    text-indent: 0;
}
dl{
    display: none;
}
:target{
    display: block;
}
dd:before{
    content: url(11.png)
}
dd:nth-of-type(odd)
{
    color:#333333;
}
dd:nth-of-type(even)
{
    color:#bda793;
}
dd strong{
    color: red;
}
dd em{
    color: #5e2d00
}