/* 全局 */
*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    box-shadow: none;
}
a{
    text-decoration: none;
}
/* 头部样式 */
.siteWidth{
    width: 70%;
    margin: 0 auto;
}

.logoBar{
    width: 360px;
    height:130px;
    background: #0F3981;
   opacity: 0.8;
   padding: 10px 10px;
    float: left;
      
}
.topBar
{
 height:50px;
    width: 760px;
    background:#647B9F;
    opacity: 0.3;
 padding-left: 20px;

}

.toplinks li{
    display: inline-block;
    line-height: 50px;
}
a{
    color: #fff;

}