*{
    margin: 0;
    padding: 0;
}

ul,ol{
    list-style: none;
}

img{
    display: block;
}

.slider{
    position: relative;
    margin: 50px auto;
    width: 490px;
    height: 170px;
    border: 2px solid #ccc;
    padding: 5px;
}

.ad{
    width: 100%;
    height: 100%;
    background: pink;
    position: relative;
    overflow: hidden;
}

.ad ul{
    position: absolute;
    left: 0;
    top: 0;
    width :2500px;
    
}

.ad ul li{
    float: left;
}

.slider ol{
    position: absolute;
    left: 50%;
    margin-left: -65px;
    bottom: 10px;
}

.slider ol li{
    background-color: white;
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

.slider ol li.current{
    background-color: orange;
}