
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}


<div class="panel panel-default Login">
    <div class="panel-heading">
        登录
    </div>
    <div class="panel-body">
        
    </div>
</div>
