
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}


    <div class="panel panel-default login">
        <div class="panel-body">
            登录
        </div>
        <div class="panel-footer login-pane">
            <form>
                <input  type="text" class="form-control  icon user" id="name" placeholder="用户名"><a href="#" class="glyphicon glyphicon-user anniu"></a>
                <br />
                <input type="password" class="form-control" id="name" placeholder="密码"><a href="#" class="glyphicon glyphicon-lock anniu"></a>

            </form>
        </div>
    </div>
