
@{
    Layout = null;
}

<div id="footer">
    <ul style="list-style:none">
        <li style="display:inline-block">
            <img src="http://www.lzzy.net/content/main/base/img/logo.png" style = "height:25px"/>
        </li>

        <li style="display:inline-block">
            2017-@DateTime.Now.Year CopyRight by<a href="#">2017软件技术一班</a>
        </li>
    </ul>
</div>