<div id="footer">
    <ul style="list-style: none">
        <li style="display: inline-block">
            <img src="http://crp.lzzy.net/oa/login_images/login_logo.png" style="height: 25px"/>
        </li>
        <li style="display: inline-block">
            2017-@DateTime.Now.Year CopyRight by <a href="#">2017软件技术1班.</a>
            <a href="http://www.lzzy.net">柳州职业技术学院.</a>
        </li>
    </ul>
</div>