@model IEnumerable<MusicStoreEntity.Genre>
    
<ul id="categories">
    @foreach(var item in Model)
    {
        <li>
            <i class="glyphicon glyphicon-music"></i>
            @Html.ActionLink(item.Name,"browser","store",new {id = item.ID},null)
        </li>
    }
</ul>