*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.slider{
    position: relative;
    margin: 0 auto;
}
.ad{
    width: 500px;
    height: 300px;
    position: absolute;
    margin-left: 100px;
    margin-top: 100px;
    overflow: hidden;

}
.ad ul li{
    float: left;
}
ol{
    position: absolute;
    margin-top: 360px;
    margin-left: 230px;
    z-index: 1000;

}
ol li{
    width: 20px;
    height: 20px;
    border: 2px solid black;
    float: left;
    text-align: center;
    margin-left: 15px;
   
}
.current{
    background-color:olive;
}
