* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration:none;
    color: #000;
    
}
#header{
    float: left;
    width: 100%;
    border-bottom: 1px dotted #5d5a53;
    margin-bottom: 10px;
    background-color: rgb(189, 189, 189);
    border-radius:5px;
}
.one{
    float:right;

}
.categories{
    list-style: none;
}
#header h1 {
    font-size: 18px;
    float: left;
    background: url(../Content/Images/logo.png) no-repeat;
    padding: 45px 0px 10px 0;
    
}
#header ul li{
    float: left;
    margin-left: 20px;
}
#header ul{
    margin-right: 20px;
    margin-top: 20px;
}
.navbar-nav {
    margin: 7.5px -15px;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    float: right;
    
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

user agent stylesheet
div {
    display: block;
}
body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    background-color:rgb(255, 255, 255);
    padding: 0 6%;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    background-color: rgb(255, 255,255);
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
#categories {
    font-family: Constantia,Georgia,serif;
    list-style-type: none;
    border-right: #5d5a53 1px dotted;
    padding-right: 10px;
    margin: 0 25px 0 0;
    float: left;
}
#footer {
    clear: both;
    padding: 10px;
    text-align: center;
    border-top: 1px dotted #8a8575;
    border-bottom: 1px dotted #8a8575;
    font-family: Constantia,Georgia,serif;
}
.col-md-9 {
    width: 75%;
    margin-left: 20%;
    
    top: -50px;

}
.col-md-3 ul li {
height:25px;
width:50px;
}
#promotion {
    height: 300px;
    width: 700px;
    background: url(/Content/Images/home-showcase.png) no-repeat;
        margin-top: -60px;

}
h3 {
    color: #9b9993;
}
ul#album-list {
    list-style: none;
    margin-left: 0;
}
ul#album-list li {
    height: 130px;
    width: 100px;
    float: left;
    margin: 10px;
    text-align: center;
}
.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 25px;
    
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

fieldset {
    border: #ffd400 1px solid;
    padding: 0 10px;
    margin-bottom: 10px;
    clear: left;
}
div.editor-field {
    margin-bottom: 10px;
}
.button, input[type=submit] {
    clear: both;
    display: inline-block;
    padding: 5px;
    margin-top: 10px;
    border: 1px;
    background: #5e5b54;
    color: #fff;
    font-weight: bold;
}
input[type=text], input[type=password], select {
    border: 1px solid #000;
    width: 300px;
}
tr {
    border: 1px solid #000;
    line-height: 25px;
}
table {
    border: 1px solid #000;
    border-collapse: collapse;
    color: #666;
    min-width: 500px;
    width: 100%;
}