@font-face{font-family: BOOM;src:url(font/BOOMBOX.TTF)}
@font-face{font-family: ONYX;src:url(font/ONYX.TTF)}
@font-face{font-family: TCM;src:url(font/TCM_.TTF)}
@font-face{
font-family: BOOM;
src: url(font/BOOMBOX.TTF)
}

@font-face{
    font-family: ONYX;
    src: url(font/BOOMBOX.TTF)
    }

@font-face{
    font-family: TCM;
    src: url(font/BOOMBOX.TTF)
        }

.TitleOne .z{
font-family: ONYX;
 color:#76147114;
 font :48px;
}

.TitleOne .q{
    font-family: ONYX;
     color:#14766114;
     font :48px;
}