@model IEnumerable<MusicStoreEntity.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h2>我的订单</h2>
<fieldset>
    <legend>我的订单</legend>
    <table>
        <tbody>
        <tr>
            <th>订单摘要</th>
            <th>明细</th>
            <th>总价</th>
            <th>状态</th>
        </tr>
        </tbody>
     
        <tbody>
       
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    <p class="text-warning">@item.TradeNo</p>
                    <p>收件人：@item.AddressPerson</p>
                    <p>收件人地址：@item.Address</p>
                    <p>电话：@item.MobilNumber</p>
                </td>
                <td class="text-primary">
                  @foreach (var de in item.OrderDetails)
                    {

                        <p>@de.Ablum.Title×@de.Count</p>

                  }
                </td>     
                <td>@item.TotalPrice</td>
                @if (item.PaySuccess)
                {
                    <td>
                        已付款
                    </td>
                }
                else
                {
                    <td>
                        <span>未付款</span>
                        <p class="btn btn-success glyphicon glyphicon-send">
                            @Html.ActionLink("立即支付", "Alipay", "Pay", new { id = item.ID }, null)
                        </p>  
                    </td>
                }
            </tr>
        } 
        </tbody>
    </table>
    
    
</fieldset>
