@model IEnumerable<MusicStoreEntity.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h2>Index</h2>
<fieldset>
    <legend>我的订单</legend>
    <table>
        <tbody>
            <tr>
                <th>订单摘要</th>
                <th>明细</th>
                <th>总价</th>
                <th>状态</th>
            </tr>
        </tbody>
        @foreach(var item in Model)
        {
        <tbody>
        <tr>
            <td>
                <p class="text-warning">@item.TradeNo</p>
                <p>收件人：@item.AddressPerson</p>
                <p>收件人地址：@item.Address</p>
                <p>电话：@item.MobilNumber</p>
            </td>
            @foreach (var de in item.OrderDetails)
            {
                <td class="text-primary">
                    @de.Ablum.Title,
                    @de.Count
                </td>
            }
           
            <td>@item.TotalPrice</td>
            @if (item.PaySuccess)
            {
                <td>
                    已付款
                </td>
            }
            else
            {
                <td>
                    未付款
                </td>
                <td><a class="btn btn-success" href="Pay/Alipay">立即支付</a></td>
            }            
            
        </tr>
        </tbody>

        } 
       
    </table>
</fieldset>
