h2.big{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:forestgreen;
}

h2.small{
    text-indent:10pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

p{
    font-size: 14px;
    color: gray;
    text-indent:20pt;
}
img{
    width: 50%;
    display: block;
    margin: 0 auto;
}

#footer{
    text-align: left;
    color: lightgray;
    font-size: 12px;    
}