/* 选择器，伪类 */

* {
    list-style: none;
    outline: none;
}

body {
    text-align: center;
    font-family: "微软雅黑";
}

h2.a {
    text-align: center;
    color: red;
}

hr {
    width: 800px;
    background-color: #5e2d00;
    height: 3px;
}

a {
    color: #5e2d00;
    font-size: 22px;
    text-indent: 1em;
    display: inline-block;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: red;
}

a:nth-child(1) {
    text-indent: 0;
}

dl {
    display: none;
}

:target {
    display: block;
}

li {
    list-style: none;
    display: inline;
    line-height: 40px;
    padding: 30px;
    font-family: '微软雅黑';
    font-size: 20px;
    color: sienna;
}

img {
    margin: 0 auto;
}

dd:before {
    content: url(Images/11.png);
}

dd:nth-child(odd) {
    color: #bda793;
}

dd {
    line-height: 40px;
    font-size: 22px;
    color: #333;
}

dd:nth-child(2) em {
    color: red;
    font-weight: bold;
    font-style: normal;
}

dd:nth-child(3) em {
    color: #5e2d00;
    font-weight: bold;
    font-style: normal;
}