*{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
    
}
.box{
    width:80%;
    margin: 0 auto;
}
.nav{
    background-color:#EEEEEE;
    
    height: 40px;
    
}
.nav ul li{
    float: left;
    height: 40px;
    line-height: 40px; 
    margin-left: 30px;
}
.nav ul li a 
{
    font-size: 14px;
    color:#858585;
}
.nav ul::after
{

    clear: both;
}
.nav ul li img
{
    height: 25px;
    width: 25px;
    vertical-align: -10px;
    margin-left: -10px;
}
.footer img
{
    width: 210px;
    margin-right:35px; 
    border-radius: 10px;
    opacity: 0.5;
    cursor: pointer;
}
.footer img:hover
{
    border:2px solid #6D6D6E;
    opacity:1;
    width: 212px;
}


.footer,.video
{
    text-align: center;
}
h2,.a
{
    text-align: left;
    line-height: 60px;
}
.video_1
{
    background: black;
    width: 1000px;
    height: 576px;
}
video{
    width: 1000px;
    height: 576px;
}

