*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "微软雅黑";
    font-size: 20px;
    color: white;
}

img{
    list-style:none;
    outline: none;
}

.img-box{
    background: url(images/flash_sale.png);
    width: 702px;
    height: 378px;
    margin: 0 auto;
    position: relative;
}

.img-box span{
    position: relative;
    width: 32px;
    height: 27px;
    text-align: center;
    line-height: 27px;
    font-size: 16px;
}

.img-box #hour{
    left:51.4%;
    top: 257px;
}

.img-box #minute{
    left: 56%;
    top: 257px;
}

.img-box #second{
    left: 60%;
    top: 257px;
}

#end{
    /* display: none; */
    position: absolute;
    margin: 0 auto;
    left: 0;
    top: 30px;
    background: url(images/flash_end.png);
    width: 702px;
    height: 378px;
}