*{
    margin: 0;
    padding: 0;
}
@font-face{font-family:BOOM;src:url(font/BOOMBOX.TTF)}
@font-face{font-family:ONYX;src:url(font/ONYX.TTF)}
@font-face{font-family:TCM;src:url(font/TCCM____.TTF)}
@font-face{font-family: ROCK;src:url(font/ROCK.TTF)}
h2.a
{
    font-family:BOOM;
    font-size:60px;
}
.TitleOne.a
{
  
    font-family:NYX;
    color:black;
    font-size:48px; 
}
.TitleOne.b
{
    font-family:NYX;
    color: #4c9372;
    font-size:58px; 
}

