*{
    list-style: none;
}
.min img{
    display: block;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    padding: 22%;
    border-radius: 50%;
}
.min{
    float: left;
    width: 550px;
    height: 550px;
    border-radius: 50%;
    border: 10px solid #ccc;
    background-image:repeating-radial-gradient(circle at 50% 50%,#333,#000 1%);
    animation: myfirst 180s;
}
.min:hover{
    animation: myfirst 0s;
}
@keyframes myfirst{
from{/*动画开始*/
    transform: rotate(0deg); /*动画开始旋转度数为0*/
}
to{/*动画结束后*/
    transform: rotate(900deg);/*动画开始旋转度数为900*/
}
}
button{
    margin-top: 60px;
    margin-left: 6px;
    width: 100px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    border-color:blue;

}
button:hover{
    background-color: aqua;
    border-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 24),0 3px 10px 0 rgba(0, 0, 0, 19);

}
ul.ul1{
    
    display: inline-block;
    margin-top: 50px;
    margin-left: 100px;
    padding: 0;
}
ul.ul1 li{
    display: inline;
    border-radius: 50px;
}
ul.ul1 li a{
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .5s;
}
ul.ul1 li a:hover{
    background-color: #ccc;
    border-radius: 5px;
    color:white;

}
.xia{
    float: left;
    width: 600px;
    height: 700px;
    overflow-x: 600px;
    background-color: #ccc;  
}
.fo{   
    clear: both;    
    background-color: #ccc;
    width: 1200px;
    height: 60px;
}
.hter{
    width: 600px;
    height: 700px;
    float: left;
}
#btn{
    margin-left: 80px;
}
ul.ul2 li{
    display: inline;
    border-radius: 5px;
}
ul.ul2 li a{
    float: left;
    padding: 8px 14px;
    text-decoration: none;
    background-color: rgb(24, 171, 230);
    margin-left: 20px;
    border-radius: 5px;
    color:white ;
    margin-top: 13px;
}
ul.ul2 li a:hover{
    background-color:  rgb(4, 160, 221);
}