@model MusicStoreEntity.UserAndRole.Person
@{
    ViewBag.Title = "PersonalInformation";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
@using (Html.BeginForm()) {
<div class="panel panel-primary" id="tbCart" style="height:280px;">
    <div class="panel-heading">
        <h3 class="panel-title">个人信息</h3>
    </div>
    <div class="panel-body">
       <label>名称:@Model.Name</label>
    </div>
    <div class="panel-body">
        <label>电话:@Model.MobileNumber</label>
    </div>
    <div class="panel-body">
        <label>邮箱:@Model.Email</label>
    </div>
    <div>
        <label>地址:@Model.Address</label>
    </div>
    <button  onclick="CompilePersonal('@Model.ID')" type="submit" class="btn btn-default" style="float:right; margin-right:10px;">编辑</button>
</div>
}
<script>
    function CompilePersonal(id) {
        $.ajax({
            type: 'post',
            async: true,
            url: "../../Account/CompilePersonal",
            data: { id: id },
            dataType: "json",
            success: function (data) {
                $("#tbCart").html(data);
            }
        });
    }
    function UpdatePersonal(id) {
        $.ajax({
            type: 'post',
            async: true,
            url: "../../Account/UpdatePersonal",
            data: { id: id },
            dataType: "json",
            success: function (data) {
                $("#tbCart").html(data);
            }
        });
    }
</script>