.box{
    width: 360px;
    height: 198px;
    border: 1px solid #eee;
    margin: 0 auto;
    background: url(images/bg.png) no-repeat;
    position: relative;
}

img{
    position: absolute;
    left:50px;
    top:50px;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
}