* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 30px;
    color: white;
}

div {
    width: 580px;
    height: 200px;
    margin: 50px auto;
    position: relative;
}

a {
    float: left;
    widows: 25px;
    height: 100px;
    line-height: 100px;
    background: #333;
    opacity: 0.7;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

div:hover a {
    display: block;
}

.left {
    position: absolute;
    left: -12px;
    top: 50px;
}

.right {
    position: absolute;
    right: -12px;
    top: 50px;
}

ul {
    width: 100px;
    height: 20px;
    background: #333;
    opacity: 0.5;
    border-radius: 5px;
    position: absolute;
    right: 30px;
    bottom: 15px;
    text-align: center;
}

li {
    width: 5px;
    height: 5px;
    background: #ccc;
    display: inline-block;
    border-radius: 50%;
}

.playing {
    width: 12px;
    background: darkcyan;
    border-radius: 5px;
}