
@{
    Layout = null;
}

<!DOCTYPE html>

<div id="footer">

    <p><img src="http://crp.lzzy.net/oa/login_images/login_logo.png" style="height:25px" /></p>
    <p>2017-2019, CopyRight By<a href="#">2017软件技术1班</a></p>  

</div>
