*{
    padding: 0;
    margin: 0;
}
ul,li{
    list-style: none;
}
.nav-btn{
    position: relative;
}
.nav-btn h2{
    height: 60px;
    line-height: 60px;
    width: 130px;
    text-align:center;
    background: #ff0;
}
.nav-box{
    position: absolute;
    top:60px;
    left: 0px;
    display: none;
}
.nav-btn:click .nav-box
{
    display: block;
}