*{
    padding: 0;
    margin: 0;
}
.box{
    margin: 0 auto;
    width: 1000px;
    position: relative;
    height: 210px;
}
a{
    text-decoration: none;
}
button{
    padding:10px;
}
span{
    font-size: 12px;
    color:#999;
}
ul{
    list-style: none;
    height: 100%;
    width: 450px;
    position: absolute;
    right: 0;
    top: 0;
    
}
li
.childUl{
    position: absolute;
    left: 0px;
    top:41px;
    width: 90px;
    height: 180px;
    text-align: left;
    border:1px solid #ccc;
    box-sizing: border-box;
    padding:0 10px;
    z-index: 999;
    background-color:#fff;
    
}
.box .top>ul>li:nth-child(1){
    border-left:none;
    position: relative;
}
.box .top>ul>li{
    box-sizing: border-box;
    float: left;
    width: 90px;
    height: 40px;
    text-align: center;
    border-left: 1px solid #ccc;
    line-height: 40px;
}
.childUl>li{
    float: none;
    height: 30px;
    line-height: 30px;
}
.top{
    position: relative;
    background-color:rgb(245, 245, 245);
    height: 40px;
    font-size: 12px;
    color:#999;
    line-height: 40px;
    
}
.btn{
    display: inline-block;
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color:#fff;
    background-color:#f00;
    font-weight: bold;
}
input[type="text"]{
    height: 36px;
    width: 350px;
    border:2px solid #f00;
}
.content{
    position: relative;

}
.search{
    width: 650px;
    height: 104px;
    position: absolute;
    top: 60%;
    right:10%;
    transform: translateY(-50%);
}
img{
    display: block;
    margin-left: 40px;
}