*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.all{
    width: 350px;
    height: 200px;
    position: relative;
    margin: 50px auto;
    padding: 2px;  
}

.ad{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border: 5px solid lavender;
}

.ad ul li a img{
    width: 350px;
    height: 200px;
    float: left;
    margin: auto;  
}

.ad ul {
    width: 1750px;
    position: absolute;
    top: 0;
}

#arrow{
    display: none;
}

#arrow span{
    position: absolute;
    width: 35px;
    height: 45px;
    left: 3px;
    top: 50%;
    margin-top: -20px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    line-height: 40px;
    background: lightblue;
    opacity: 0.3;
    font-size: 35px;
    color: white;
    border: 1px solid white;
}

#arrow #left {
  left: 15px;

}
#arrow #right{
    right: 3px;
    left: auto;
}
