
 <div id="footer"> 
     <ul style="list-style:none">
         <li style="display:inline-block">
             <img src="~/Content/Images/log.png" style="height:25px"/>
         </li>
          <li style="display:inline-block">
              2017-@DateTime.Now.Year CopyRight by<a href="#">2017软件技术1班.</a>
              <a href="http://www.lzzy.net"></a>
          </li>
      </ul>
  </div>
