*{
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
}
a{
    text-decoration: none;
    color: #424242;
}
header{
    width: 100%;
    height: 30px;
    background-color:#E3E4E5;
}

/* 头部左边 */
.ul_left{
    height: 30px;
    float: left;
    margin-left: 15%;
}
.ul_left li
{
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-indent: 0.5em;
}

/* 头部右边 */
.ul_right li{
    display: inline-block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    margin-right: 25px;
    text-align: center;
    position: relative;
}
.ul_right{
    height: 30px;
    float: right;
    margin-right: 10%;
}
.ul_right > li::before
{
   
    content: "";
    position: absolute;
   left:-10px;
   top: 7px;
    height: 15px;
    width: 1px;
    background-color: #000;
}
.ul_right > li:first-child::before
{
    content: "";
    height: 0px;
    width: 0px;
}
/* 取消浮动 */
header::after
{
    clear: both;
}

/* 中间 */
.center{
    margin-top: 20px;
  
    height: 200px;
    width: 100%;
    position: relative;
}
/* 小狗狗图片 */
.center_left img{
    float: left;
    margin-left: 15%;
}
.center_zhong
{
    margin-left: 30%;
    padding-top: 20px;
}
.center_ul li
{
    display: inline-block;
}
#sousuo{
   width: 520px;
   height:30px;
   border: 3px solid #E4393C;
}
#button
{
   position: absolute;
    width: 70px;
    height: 32px;
    background-color: #E4393C;
    margin: -33px 0 0 455px;
    
}
.button_No1
{
    height: 25px;
    width: 70px;
 
}
.button_No2
{
    height: 25px;
    width: 85px;
    margin-left:100px;
}

.button_No1,
.button_No2
{
   background-color: #F7F7F7;
   border: 1px solid #E4E4E4;
   position: absolute;
   top: 20px;
   left:70%;
   margin-top: 5px;
}
#store:hover
{
    background-color: #fff;
}
#store_none{
    position: absolute;
    height: 220px;
    width: 110px;
    border: 1px solid #F2F2F2;
    background-color: #fff;
   padding-left: 15px;
   box-sizing: border-box;
   margin-left:-15px;
   z-index: 9999;
   display:none;
   
}
#store_none li{
    font-size: 14px;
     white-space: nowrap;
     text-align:left;
}
.center_ul
{
    margin-top: 5px;
}

.center_ul li{
    color: #999999;
    font-size: 12px;
}