*{
    margin: 0 auto;
    z-index: 1;
}
/*header部分*/
header{
    width: 1280px;
    height: 40px;
    background: rgb(247, 247, 247);
    position: relative;
    z-index: 9999;
}
ul{
    display: inline;
}
li{
    list-style: none;
    display: inline;
    font-size: 14px;
    cursor: pointer;
    line-height: 40px;
    padding-left: 10px;
}
.rlist{
    position: absolute;
    right: 50px;

}
/*box部分*/
.box{
    width: 1000px;
    height: 500px;
    position: relative;
}
input{
    height:100px;
    height: 34px;
    background: rbg(247,247,247);
    position: absolute;
    left: 905px;
    top: 80px;
}
#last{
    left: 805px;
}
.logo{
    position: absolute;
    left: 10px;
}
#ssbtn{
    left: 655px;
    width: 100px;
    height: 36px;
    background: red;
    font-size: 16px;
    color: white;
    font-weight: bold;
    border: red solid 1px;
}
#text{
    left: 250px;
    height: 30px;
    border: 3px solid red;
    width: 500px;
}
.blist li{
    color:#ccc;
}
.blist{
    position: absolute;
    left: 200px;
    top:110px;
}
/*下拉框*/
.one{
    display: inline-block;

}
.one ul{
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    border: 1px solid rbg(247,247,247);
    display: none;
}
.one ul li{
    color: black;
    padding: 5px 1px;
    text-decoration: none;  
    display: block;
}
