*{
    margin:0;
    padding:0;
    list-style: none;
}
html,body{
    background-color:#333;
}

img{
    height: 270px;
}
.poster-list a,.poster-list img{
    display: block;
}
.poster-main{
    position: relative;
    width: 641px;
    height: 270px;
    background-color: red;
}
.poster-main .poster-list{
    
    width: 641px;
    height: 270px;
}
.poster-main .poster-btn
{
    position: absolute;
    width: 100px;
    height: 270px;
    z-index: 10;
    background-color: aqua;
    top: 0;
    font-size: 100px;
    color: #333;
    font-weight: bold;
    line-height: 270px;
}
.poster-main .poster-btn-left{
    left: 0;
}
.poster-main .poster-btn-right{
    right: 0;
}
.poster-list li{
    position: absolute;left: 0;top: 0;
}