* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background: #fbf9ef;
    width: 90%;
    margin: 0 auto;
}

.header {
    margin: 0 auto;
    height: 100px;
    border-bottom: 1px solid #ddd;
}

    .header h3 {
        float: left;
        display: block;
        height: 70px;
        width: 500px;
        background: url("images/logo.png") no-repeat;
    }

        .header h3 a {
            text-decoration: none;
            color: #5e5b54;
            font-weight: bolder;
            font-size: 22px;
            line-height: 50px;
        }

            .header h3 a samp {
                font-size: 12px;
            }

.header-ul {
    float: right;
    width: 300px;
}

    .header-ul li {
        float: left;
        line-height: 50px;
        font-size: 16px;
        font-weight: bolder;
        text-align: center;
    }

        .header-ul li a {
            list-style: none;
            color: #f6855e;
            cursor: pointer;
        }

            .header-ul li a .header-ul li:hover {
                background-color: #ccc;
                color: black;
            }

.body-ul {
    
    margin: 10px;
 
}

    .body-ul a {
        text-decoration: none;
        color: rgb(124, 119, 119);
        font-weight: bolder;
        font-size: 16px;
    }
        .body-ul a:hover {
            color:#5e5b54;
        }

.content {
    margin: 10px auto;
}

.showcase-logo {
    margin-left: 100px;
    display: block;
    width: 702px;
    height: 300px;
    background: url("images/home-showcase.png")no-repeat;
}

.showcase ul {
    margin-left: 100px;
    margin-bottom: 200px;
}

    .showcase ul li {
        width: 150px;
        height: 100px;
        float: left;
        margin-bottom: 20px;
        text-align: center;
    }

        .showcase ul li a {
            text-decoration: none;
            text-align: center;
        }

            .showcase ul li a span {
                width: 100px;
                color: black;
                
            }

.content h3 {
    margin-left: 70px;
    font-weight: bolder;
    font-style: italic;
    font-size: 16px;
    color: #5e5b54;
}

    .content h3 samp {
        margin-left: 5px;
        font-size: 17px;
        color: rgb(124, 119, 119);
    }

.stern {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.stern_logo {
    width: 300px;
    height: 40px;
    display: block;
    background: url("images/stern_logo.png")no-repeat;
    background-size: 120px;
    margin: 0 auto;
}

.row h4 {
    line-height: 25px;
    margin-left: 120px;
    font-size: 10px;
    width: 240px;
}

    .row h4 a {
        text-decoration: none;
        color: #f6855e;
        cursor: pointer;
    }

        .row h4 a:hover {
            color: black;
        }

.albumclass li {
    float: left;
    width: 150px;
    height:100px;
   
    border:1px solid #ccc;
    text-align:center;
    margin:10px;
    line-height:50px;
}

    .albumclass li a {
        text-decoration: none;
        color: black;
         cursor: pointer;
    }
        .albumclass li a:hover {
             color: #f6855e;

        }
.login {
    margin:0 auto;
    width:400px;
    height:280px;
}
.login-pane {
    background-color:#fbf9ef;

}
    .login-pane  button {
      margin-top:25px;
      margin-left:5px;
    }

.anniu {
     display: block;
     margin-left:350px;
     margin-top:-25px;
      text-decoration: none;
}
.zhuche {
    text-align:center;
    margin:0 auto;
    margin-top:30px;
    font-style:normal;
}
    .zhuche button {
        margin-left:10px;
    }
.login-ul {
     font-style:normal;
     list-style: none;
      width:100px;
      margin:0;
      padding:0;
}
.login-ul li {
     list-style: none;
     float:none;
     height:40px;
     width:500px;
     margin:0;
      padding:0;
}
    .login-ul li a {
         height:40px;
         width:158px;
         text-align:left;
         color:black;
         padding:0;
         line-height: 40px;
    }
    .Cartdelete{
        color:black; 
        cursor:pointer;
    }

    .totalprice-th {
        
        float:right;
         width:100%;
    }
.Cart-tbody-th a {
    color:black;
}
    .Cart-tbody-th a:hover {
        color: #f6855e;
    }
    .CompilePersonal-text{
        width:300px;
    }
.Avarda{
    width:20px;
    height:20px;
    border:1px solid black;
    border-radius:50%;
    
}
.Avarda-My{
      width:100px;
      height:100px;
}
input-group CompilePersonal-text{
    margin-bottom:10px;
    margin-top:10px;
}
.cd{
    display: inline-block;
    width: 150px;
    height: 150px;
    background: url("images/cd.png") no-repeat center center;
    background-size: 150px;
    position: relative;
    top: 0;
    left: 70px;
    border-radius: 50%;
    animation: move 10s linear infinite;
    margin-top:20px;

}
/*@keyframes move{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}*/
.Goodcomments{
    font-size:20px;
    font-size:18px;
    font-weight:500;
}
.comments{
    width:50px;
    height:50px;
    float:left;
}
.comments-foreach-div{
    margin-left:70px;
    position:relative;
    top:-7px;
}